<div class="row">
	<div class="col-12">
	    <p>Testing-testing-testing----This project is a living repository of papers relevant to Goals for Behavior Change in HCI, a research area that examines the impact of goal-related technologies on actual behavior changes and the approaches used to support behavioral changes. </p>
		
		<p>The paper has been accepted to CHI 2025. More information will be shared once the paper is published.</p>

		<p>This repository is built based on Dr. Daniel Epstein's living repository for personal information. Thank you for your inspiration and guidance!</p>
	</div>
</div>
